@import url(https://fonts.googleapis.com/css?family=Rubik:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600);

.card {
  width: 280px;
  height: 400px;
  position: relative;
  cursor: pointer;
  font-family: "Roboto Slab", sans-serif;
  transition: transform 0.1s;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-side {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(5, 4, 4, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: white;
}

.card.dropped {
  position: relative;
  pointer-events: auto !important;
  transform: scale(0.5) !important;
  margin: -55% -85%;
}

.question-text {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.card-choice-item {
  padding: 0.2rem 0.75rem;
  display: flex;
  /* align-items: center; */
  position: relative;
}

.loading-text,
.error-text {
  margin-top: 20px;
}

.choices-container {
  /* width: 100%; */
  padding: 10px 20px;
}

.choice-marker {
  font-weight: bold;
  margin-right: 8px;
}

.choice-text {
  flex: 1;
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 50px;
}

.correct {
  background-color: rgba(255, 255, 255, 0.2);
}